@charset "utf-8";

/* 変数設定 */
:root {
    --sidebar-width: 130px;
    /* 配色設定 */
    --background-color: rgb(255, 255, 255);
    --header-color: linear-gradient(180deg, rgb(0, 92, 175), rgb(255, 42, 212));
    --footer-color: linear-gradient(360deg, rgb(0, 92, 175), rgb(255, 42, 212));
}
/* 画面余白を削除 */
body {
    margin: 0px;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--header-color);
}

/* ヘッダー */
div.headerMain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 2fr 1fr;
    gap: -50px 0px;
}
div.TitleMain {
    background: url(../image/header_main.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}

div.header {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: -50px 0px;
}
div.Title2023 {
    background: url(../image/header_year_2023.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2022 {
    background: url(../image/header_year_2022.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2021 {
    background: url(../image/header_year_2021.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2020 {
    background: url(../image/header_year_2020.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2019 {
    background: url(../image/header_year_2019.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2018 {
    background: url(../image/header_year_2018.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2017 {
    background: url(../image/header_year_2017.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2016 {
    background: url(../image/header_year_2016.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2015 {
    background: url(../image/header_year_2015.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}


div.SubItem1 {
    text-align: center;
    color: white;
}
div.SubItem2 {
    text-align: center;
    color: white;
}

div.container {
    background-image: -webkit-linear-gradient(top, #C8C9D1 0%, #AAAFB7 99%);
    background-image: linear-gradient(180deg, #C8C9D1 0%, #AAAFB7 99%);
    /* background-color: var(--background-color); */
}
main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    z-index: 998;
    flex-grow: 1;
    flex-shrink: 0;
    width: 130px;
    height: 300px;
    padding: 10px;
}
div.sidebar-header {
    border-radius: 5px 5px 5px 5px;
    background: url(../image/img_archive.png) no-repeat left center, var(--header-color);
    background-size: contain;
    background-position: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0px;
    width: var(--sidebar-width);
    height: 50px;
}
div.sidebar-main {
    flex-grow: 1;
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}
div.sidebar-footer {
    flex-grow: 1;
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 50px;
}

div.content {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}


/* SNS */
.sub-title {
    margin-bottom: 30px;
}

/* フッター */
footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background: var(--footer-color);
}
div.footer {
    width: 100%;
    height: 2rem;
    text-align: center;
    padding: 0px 0;
}
div.footer p{
    color: rgb(255, 255, 255);
}