@charset "utf-8";

/* 変数設定 */
:root {
    --header-boder-type: solid;
    --header-boder-size: 0.1rem;
    --sidebar-width: 130px;
    /* 配色設定 */
    --header-boder-color: rgb(0, 0, 0);
    --char-color: rgb(0, 0, 0);
    --menu-background: rgb(220, 220, 220);
    --background-color: rgb(255, 255, 255);
    --header-color: linear-gradient(180deg, rgb(220, 220, 220), rgb(220, 220, 220));
    --footer-color: linear-gradient(360deg, rgb(220, 220, 220), rgb(220, 220, 220));
    --sidebar-color: rgb(220, 220, 220);
}
/* OSの設定または、トグルスイッチがDark Mode時のスタイル */
:root.darkmode {
    --header-boder-color: rgb(255, 255, 255);
    --char-color: rgb(255, 255, 255);
    --menu-background: rgb(035, 035, 035);
    --background-color: rgb(065, 065, 065);
    --header-color: linear-gradient(180deg, rgb(035, 035, 035), rgb(035, 035, 035));
    --footer-color: linear-gradient(360deg, rgb(035, 035, 035), rgb(035, 035, 035));
    --sidebar-color: rgb(035, 035, 035);
}

/* 画面余白を削除 */
body {
    margin: 0px;
    padding: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: var(--char-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--header-color);
    color: var(--char-color);
}


/* ヘッダー */
div.header-wrap {
    display: grid;
    width: 100%;
    height: auto;
}
div.TitleHeader {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom-style: var(--header-boder-type);
    border-bottom-width: var(--header-boder-size);
    border-bottom-color: var(--header-boder-color);
    text-align: center;
}
div.TitleLogo{
    grid-column: 1;
    background: url(/image/favicon/iTunesArtwork.png) no-repeat right center;
    background-size: contain;
}
div.TitleMain {
    grid-column: 2;
    text-align:justify;
    text-align-last: justify;
    font-size: 35px;
}
@media screen and (max-width: 834px) { div.TitleMain { font-size: 25px; } }
@media screen and (max-width: 480px) { div.TitleMain { font-size: 20px; } }
div.hamburger-menu {
    grid-column: 3;
}

div.header {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 0.5fr 1.0fr 2.0fr;
}
/* TODO:名称変更する */
div.ArchiveTitle {
    text-align: right;
    vertical-align: bottom;
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.ArchiveTitle { font-size: 15px; } }
@media screen and (max-width: 480px) { div.ArchiveTitle { font-size: 10px; } }

div.SubItem2 {
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.SubItem2 { font-size: 15px; } }
@media screen and (max-width: 480px) { div.SubItem2 { font-size: 10px; } }

div.SubItem3 {
    text-align: left;
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.SubItem3 { font-size: 15px; } }
@media screen and (max-width: 480px) { div.SubItem3 { font-size: 10px; } }

/* メイン　コンテナ */
div.container {
    background: var(--background-color)
}
main {
    /* flex: 1;
    display: flex;
    flex-direction: row; */
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1.0fr minmax(150px, 20%);
}
div.content {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

div.archivecontent {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
div.archive-title {
    background: var(--table-caption-color);
    color: var(--table-char-color);
    /* 上下2%、左右20% */
    padding:  2% 20%;
    text-align:justify;
    text-align-last: justify;
}

/* グラフ */
div.graph-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    /* height: 200px; */
}
div.scroll-year-history {
    position: relative;
}
/* スクロール可能グラフを囲む div */
div.scroll-year-history > div {
    position: relative;
    overflow-x: scroll;
}
/* スクロール可能グラフを囲む div */
div.scroll-year-history #watch-history {
    height: 550;
}
@media screen and (max-width: 834px) { div.scroll-year-history > #watch-history { height: 350; } }
@media screen and (max-width: 480px) { div.scroll-year-history > #watch-history { height: 350; } }

/* スクロール可能グラフを囲む div */
div.scroll-year-history > canvas {
    position: absolute;   /* これにより、上の div と重なる位置に canvas が配置される */
    left: 0;
    top: 0;
    background-color: var(--background-color);
}

/* サイドバー */
div.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    z-index: 998;
    flex-grow: 1;
    flex-shrink: 0;
    height: 500px;
    padding: 4px;
}

div.sidebar-title {
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.sidebar-title { font-size: 15px; } }
@media screen and (max-width: 480px) { div.sidebar-title { font-size: 15px; } }

div.sidebar-archive {
    border-radius: 4px 4px 4px 4px;
    background-color: var(--sidebar-color);
    padding: 0px;
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.sidebar-archive { font-size: 15px; } }
@media screen and (max-width: 480px) { div.sidebar-archive { font-size: 15px; } }

div.sidebar-main {
    border-radius: 4px 4px 4px 4px;
    background-color: var(--sidebar-color);
    /* flex-grow: 1;
    flex-shrink: 0; */
    height: 200px;
    height: auto;
    /* text-align: center; */
    padding: 0px;
    overflow-y: scroll;
    font-size: 25px;
}
@media screen and (max-width: 834px) { div.sidebar-main { font-size: 10px; } }
@media screen and (max-width: 480px) { div.sidebar-main { font-size: 10px; } }

/* リンク文字色設定 */
a {
    color: var(--char-color);
}
/* a:visited {
    color:rgb(255, 000, 000);
} */

/* 見出し */
div.caption {
    border-radius: 5px 5px 5px 5px;
    background: var(--table-caption-color);
    font-size: 30px;
}
@media screen and (max-width: 834px) { div.caption { font-size: 15px; } }
@media screen and (max-width: 480px) { div.caption { font-size: 15px; } }
/* SNS */
div.sns-box {
    font-size: 25px;
    display: grid;
    /* Twitter埋め込みのAPIが最小表示幅300pxなので、div.sns-boxもレスポンシブ対応の横並び時の最小値を300pxに設定する */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
@media screen and (max-width: 834px) { div.sns-box { font-size: 12px; } }
@media screen and (max-width: 480px) { div.sns-box { font-size: 12px; } }


/* フッター */
footer {
    /* position: sticky; */
    bottom: 0;
    z-index: 999;
    background: var(--footer-color);
}
div.footer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1.0fr 1.0fr 1.0fr;
    grid-template-columns: 1.0fr 1.0fr 1.0fr 1.0fr;

}
div.footerLogo {
    grid-row: 1 / 4;
    grid-column: 1;
    background: url(/image/favicon/iTunesArtwork.png) no-repeat center;
    background-size: contain;
}
div.footercopyright {
    grid-row: 3;
    grid-column: 4;
    font-size: 25px;
    color: var(--char-color);
}
@media screen and (max-width: 834px) { div.footercopyright { font-size: 12px; } }
@media screen and (max-width: 480px) { div.footercopyright { font-size: 12px; } }
