@charset "utf-8";

/* 変数設定 */
:root {
    --table-size: 400px;
    --table-th-size: 100px;
    --table-td-size: 200px;
    --table-boder-type: solid;
    --table-boder-size: 0.1rem;
    /* 配色設定 */
    --background-color: rgb(255, 255, 255);
    --table-caption-color: linear-gradient(90deg, rgb(0, 92, 175), rgb(30, 30, 30));
    --table-boder-color: rgb(255, 255, 255);
    --table-char-color: rgb(255, 255, 255);
    --table-sun-color: linear-gradient(90deg, rgb(231, 0, 18), rgb(30, 30, 30));
    --table-mon-color: linear-gradient(90deg, rgb(156, 51, 133), rgb(30, 30, 30));
    --table-tue-color: linear-gradient(90deg, rgb(240, 131, 0), rgb(30, 30, 30));
    --table-wed-color: linear-gradient(90deg, rgb(0, 170, 232), rgb(30, 30, 30));
    --table-thu-color: linear-gradient(90deg, rgb(16, 168, 59), rgb(30, 30, 30));
    --table-fri-color: linear-gradient(90deg, rgb(249, 190, 0), rgb(30, 30, 30));
    --table-sat-color: linear-gradient(90deg, rgb(70, 82, 161), rgb(30, 30, 30));
}

div.winter {
    border-radius: 5px 5px 5px 5px;
    background: url(../image/icon_winter.png) no-repeat left center, var(--table-caption-color);
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.spring {
    border-radius: 5px 5px 5px 5px;
    background: url(../image/icon_spring.png) no-repeat left center, var(--table-caption-color);
    background-size: contain;
    color: white;
    padding-left: 6rem;
}
div.summer {
    border-radius: 5px 5px 5px 5px;
    background: url(../image/icon_summer.png) no-repeat left center, var(--table-caption-color);
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.autumn {
    border-radius: 5px 5px 5px 5px;
    background: url(../image/icon_autumn.png) no-repeat left center, var(--table-caption-color);
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.detail-caption {
    text-align: center;
}
/* 表デザイン */
div.table-wrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
table.table {
    table-layout: fixed;
    width: 3 * var(--table-size);
    border-collapse: separate;
}

/* =======================2023======================= */
#table_winter_2023,
#table_spring_2023,
#table_summer_2023,
#table_autumn_2023,
/* =======================2022======================= */
#table_winter_2022,
#table_spring_2022,
#table_summer_2022,
#table_autumn_2022,
/* =======================2021======================= */
#table_winter_2021,
#table_spring_2021,
#table_summer_2021,
#table_autumn_2021,
/* =======================2020======================= */
#table_winter_2020,
#table_spring_2020,
#table_summer_2020,
#table_autumn_2020,
/* =======================2019======================= */
#table_winter_2019,
#table_spring_2019,
#table_summer_2019,
#table_autumn_2019,
/* =======================2018======================= */
#table_winter_2018,
#table_spring_2018,
#table_summer_2018,
#table_autumn_2018,
/* =======================2017======================= */
#table_winter_2017,
#table_spring_2017,
#table_summer_2017,
#table_autumn_2017,
/* =======================2016======================= */
#table_winter_2016,
#table_spring_2016,
#table_summer_2016,
#table_autumn_2016,
/* =======================2015======================= */
#table_winter_2015,
#table_spring_2015,
#table_summer_2015,
#table_autumn_2015 {
    table-layout: fixed;
    width: var(--table-size);
    border-collapse: separate;
}




td.none {
    padding-top: 0.4rem;
    padding-left: 3rem;
    padding-bottom: 0.4rem;
    width: var(--table-td-size);
    color: var(--table-char-color);
}
/* アイコン設定 */
td.new {
    padding-top: 0.4rem;
    padding-left: 3rem;
    padding-bottom: 0.4rem;
    width: var(--table-td-size);
    background: url(../image/icon_new.png) no-repeat left center;
    color: var(--table-char-color);
}
td.continuation {
    padding-top: 0.4rem;
    padding-left: 3rem;
    padding-bottom: 0.4rem;
    width: var(--table-td-size);
    background: url(../image/icon_continuation.png) no-repeat left center;
    color: var(--table-char-color);
}
td.reair {
    padding-top: 0.4rem;
    padding-left: 3rem;
    padding-bottom: 0.4rem;
    width: var(--table-td-size);
    background: url(../image/icon_reair.png) no-repeat left center;
    color: var(--table-char-color);
}


table tr:nth-child(1) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.sun {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-sun-color);
    color: white;
}

table tr:nth-child(2) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.mon {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-mon-color);
    color: white;
}

table tr:nth-child(3) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.tue {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-tue-color);
    color: white;
}

table tr:nth-child(4) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.wed {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-wed-color);
    color: white;
}

table tr:nth-child(5) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.thu {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-thu-color);
    color: white;
}

table tr:nth-child(6) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.fri {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-fri-color);
    color: white;
}

table tr:nth-child(7) td {
    border-radius: 5px 5px 5px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
th.sat {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-sat-color);
    color: white;
}


th.ranking1{
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
    background-size: contain;
}

th.ranking2{
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    background-size: contain;
}
th.ranking3{
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
    background-size: contain;
}

td.ranking1 {
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
td.ranking2 {
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}
td.ranking3 {
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
}