@charset "utf-8";

/* 変数設定 */
:root {
    --table-rank-img-size: 150px;
    --table-size: 400px;
    --table-th-size: 100px;
    --table-label-size: 20px;
    --table-td-size: 200px;
    --table-td-size2: 200px;
    --table-boder-type: solid;
    --table-boder-size: 0.1rem;
    /* 配色設定 */
    --table-caption-color: linear-gradient(180deg, rgb(220, 220, 220), rgb(220, 220, 220));
    --table-boder-color: rgb(0, 0, 0);
    --table-char-color: rgb(0, 0, 0);
    --table-sun-color:          linear-gradient(90deg, rgb(231, 000, 018), rgb(220, 220, 220));
    --table-mon-color:          linear-gradient(90deg, rgb(156, 051, 133), rgb(220, 220, 220));
    --table-tue-color:          linear-gradient(90deg, rgb(240, 131, 000), rgb(220, 220, 220));
    --table-wed-color:          linear-gradient(90deg, rgb(000, 170, 232), rgb(220, 220, 220));
    --table-thu-color:          linear-gradient(90deg, rgb(016, 168, 059), rgb(220, 220, 220));
    --table-fri-color:          linear-gradient(90deg, rgb(249, 190, 000), rgb(220, 220, 220));
    --table-sat-color:          linear-gradient(90deg, rgb(070, 082, 161), rgb(220, 220, 220));
    --table-new-color:          linear-gradient(30deg, rgb(255, 255, 255)   0%, rgb(255, 255, 255)  30%, 
                                                       rgb(251, 153, 102)  30%, rgb(220, 220, 220)  45%, 
                                                       rgb(220, 220, 220)  45%, rgb(251, 153, 102)  70%, 
                                                       rgb(255, 255, 255)  70%, rgb(255, 255, 255) 100%);

    --table-continuation-color: linear-gradient(30deg, rgb(255, 255, 255)   0%, rgb(255, 255, 255)  30%, 
                                                       rgb(046, 169, 223)  30%, rgb(220, 220, 220)  45%, 
                                                       rgb(220, 220, 220)  45%, rgb(046, 169, 223)  70%, 
                                                       rgb(255, 255, 255)  70%, rgb(255, 255, 255) 100%);

    --table-reair-color:        linear-gradient(30deg, rgb(255, 255, 255)   0%, rgb(255, 255, 255)  30%, 
                                                       rgb(000, 170, 144)  30%, rgb(220, 220, 220)  45%, 
                                                       rgb(220, 220, 220)  45%, rgb(000, 170, 144)  70%, 
                                                       rgb(255, 255, 255)  70%, rgb(255, 255, 255) 100%);
}
/* OSの設定または、トグルスイッチがダークモード時のスタイル */
:root.darkmode {
    --table-caption-color: linear-gradient(180deg, rgb(035, 035, 035), rgb(035, 035, 035));
    --table-boder-color: rgb(255, 255, 255);
    --table-char-color: rgb(255, 255, 255);
    --table-sun-color:          linear-gradient(90deg, rgb(231, 000, 018), rgb(035, 035, 035));
    --table-mon-color:          linear-gradient(90deg, rgb(156, 051, 133), rgb(035, 035, 035));
    --table-tue-color:          linear-gradient(90deg, rgb(240, 131, 000), rgb(035, 035, 035));
    --table-wed-color:          linear-gradient(90deg, rgb(000, 170, 232), rgb(035, 035, 035));
    --table-thu-color:          linear-gradient(90deg, rgb(016, 168, 059), rgb(035, 035, 035));
    --table-fri-color:          linear-gradient(90deg, rgb(249, 190, 000), rgb(035, 035, 035));
    --table-sat-color:          linear-gradient(90deg, rgb(070, 082, 161), rgb(035, 035, 035));
    --table-new-color:          linear-gradient(30deg, rgb(065, 065, 065)   0%, rgb(065, 065, 065)  30%, 
                                                       rgb(251, 153, 102)  30%, rgb(035, 035, 035)  45%, 
                                                       rgb(035, 035, 035)  45%, rgb(251, 153, 102)  70%, 
                                                       rgb(065, 065, 065)  70%, rgb(065, 065, 065) 100%);

    --table-continuation-color: linear-gradient(30deg, rgb(065, 065, 065)   0%, rgb(065, 065, 065)  30%, 
                                                       rgb(046, 169, 223)  30%, rgb(035, 035, 035)  45%, 
                                                       rgb(035, 035, 035)  45%, rgb(046, 169, 223)  70%, 
                                                       rgb(065, 065, 065)  70%, rgb(065, 065, 065) 100%);

    --table-reair-color:        linear-gradient(30deg, rgb(065, 065, 065)   0%, rgb(065, 065, 065)  30%, 
                                                       rgb(000, 170, 144)  30%, rgb(035, 035, 035)  45%, 
                                                       rgb(035, 035, 035)  45%, rgb(000, 170, 144)  70%, 
                                                       rgb(065, 065, 065)  70%, rgb(065, 065, 065) 100%);
}


div.season {
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: var(--table-th-size) 1fr;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-caption-color);
    color: var(--table-char-color);
}
div.season-sub1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: center;
    font-size: 150%;
}
div.season-sub2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: left;
}
div.season-sub3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
}

div.data {
    border-radius: 5px 5px 5px 5px;
    background: var(--table-caption-color);
}

/* 表デザイン */
div.table-wrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
table.table {
    table-layout: fixed;
    width: 3 * var(--table-size);
    border-collapse: separate;
}

/* =======================2024======================= */
#table_winter_2024, #table_spring_2024, #table_summer_2024, #table_autumn_2024,
/* =======================2023======================= */
#table_winter_2023, #table_spring_2023, #table_summer_2023, #table_autumn_2023,
/* =======================2022======================= */
#table_winter_2022, #table_spring_2022, #table_summer_2022, #table_autumn_2022,
/* =======================2021======================= */
#table_winter_2021, #table_spring_2021, #table_summer_2021, #table_autumn_2021,
/* =======================2020======================= */
#table_winter_2020, #table_spring_2020, #table_summer_2020, #table_autumn_2020,
/* =======================2019======================= */
#table_winter_2019, #table_spring_2019, #table_summer_2019, #table_autumn_2019,
/* =======================2018======================= */
#table_winter_2018, #table_spring_2018, #table_summer_2018, #table_autumn_2018,
/* =======================2017======================= */
#table_winter_2017, #table_spring_2017, #table_summer_2017, #table_autumn_2017,
/* =======================2016======================= */
#table_winter_2016, #table_spring_2016, #table_summer_2016, #table_autumn_2016,
/* =======================2015======================= */
#table_winter_2015, #table_spring_2015, #table_summer_2015, #table_autumn_2015 {
    table-layout: fixed;
    width: var(--table-size);
    border-collapse: separate;
}


/* テーブル種別アイコン共通設定 */
td.new, td.continuation, td.reair, td.none {
    border-radius: 5px 0px 0px 5px;
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-bottom: 0.4rem;
    width: var(--table-label-size);
    color: var(--table-char-color);
}
/* テーブル種別アイコンカラー設定 */
td.new {
    background:var(--table-new-color);
}
td.continuation {
    background:var(--table-continuation-color);
}
td.reair {
    background:var(--table-reair-color);
}

/* テーブル本文設定 */
td.title {
    border-radius: 0px 5px 5px 0px;
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: var(--table-td-size);
    color: var(--table-char-color);
}

/* テーブル曜日共通設定 */
th.sun,th.mon, th.tue, th.wed, th.thu, th.fri, th.sat {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background: var(--table-sat-color);
    color: var(--table-char-color);
}
/* テーブル曜日カラー設定 */
th.sun {
    background: var(--table-sun-color);
}
th.mon {
    background: var(--table-mon-color);
}
th.tue {
    background: var(--table-tue-color);
}
th.wed {
    background: var(--table-wed-color);
}
th.thu {
    background: var(--table-thu-color);
}
th.fri {
    background: var(--table-fri-color);
}
th.sat {
    background: var(--table-sat-color);
}

/* ランキングth共通設定 */
th.ranking1, th.ranking2, th.ranking3{
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background-size: contain;
}
/* ランキングthカラー設定 */
th.ranking1{
    background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
}
th.ranking2{
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}
th.ranking3{
    background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
}

/* ランキングtd共通設定 */
td.ranking1, td.ranking2, td.ranking3 {
    border: none !important;
    width: var(--table-td-size2);
    border-left-style: var(--table-boder-type);
    border-left-width: var(--table-boder-size);
    border-left-color: var(--table-boder-color);
    border-right-style: var(--table-boder-type);
    border-right-width: var(--table-boder-size);
    border-right-color: var(--table-boder-color);
    border-bottom-style: var(--table-boder-type);
    border-bottom-width: var(--table-boder-size);
    border-bottom-color: var(--table-boder-color);
    text-align: center;
}

/* ランキングh4共通設定 */
td.ranking1 h4, td.ranking2 h4, td.ranking3 h4 {
    display: inline;
    background-repeat: no-repeat;
    background-size: 100% 40%;
	background-position: bottom;
    transition: all 0.25s ease-in;
}
/* ランキングh4カラー設定 */
td.ranking1 h4 {
    background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
}
td.ranking2 h4 {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}
td.ranking3 h4 {
    background: linear-gradient(45deg, #a57e65 0%, #a57e65 45%, #f3cfb8 70%, #a57e65 85%, #a57e65 90% 100%);
}
/* ランキングh4hover共通設定 */
td.ranking1 h4:hover, td.ranking2 h4:hover, td.ranking3 h4:hover{
    background-size: 100% 100%;
}

td.ranking-img{
    width: var(--table-rank-img-size);
    border: none !important;
}
td.ranking-img > img{
    max-width: 100%;
    height: auto;
}