div.header2015 {
    position:fixed;
    top: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: -50px 10px;

}
div#Item1 {
    background: rgb(167, 209, 16);
}
div#Item3 {
    text-align: center;
    background: rgb(167, 209, 16);
}
div#Item5 {
    text-align: center;
    background: rgb(167, 209, 16);
}
div#Item6 {
    text-align: center;
    background: rgb(167, 209, 16);
}

.header2015::after {
    content: '';
    display: block;
    clear: both;
}


/* .spring2015{ */
    /* ヘッダーの高さに応じて適宜調整してください */
    /* padding-top:150px; */
    /* フッターの高さに応じて適宜調整してください */
    /* padding-bottom:60px; */
/* } */

.container::after {
    content: '';
    display: block;
    clear: both;
}

/* フッター */
div.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    height: auto;
    background: rgb(150, 0, 0);
    text-align: center;
    padding: 0px 0;
}
div.footer p{
    color: rgb(255, 255, 255);
    /* font-size: 0.875rem; */
}