@charset "utf-8";

/* 変数設定 */
:root {
    --table-th-size: 100px;
    --table-td-size: 180px;
    --sidebar-width: 130px;
    /* 配色設定 */
    --table-caption-color: rgb(15, 37, 64);
    --table-colum-color: rgb(189, 192, 186);
    --header-color: rgba(0, 92, 175);
    --footer-color: rgba(0, 92, 175);
}
/* 画面余白を削除 */
body {
    margin: 0px;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--header-color);
}

/* ヘッダー */
div.headerMain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 2fr 1fr;
    gap: -50px 0px;
}
div.TitleMain {
    background: url(image/header_main.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}

div.header {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: -50px 0px;
}
div.Title2017 {
    background: url(image/header_year_2017.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2016 {
    background: url(image/header_year_2016.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}
div.Title2015 {
    background: url(image/header_year_2015.png) no-repeat left center;
    background-size: contain;
    background-position: center;
}


div.SubItem1 {
    text-align: center;
    color: white;
}
div.SubItem2 {
    text-align: center;
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

div.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    z-index: 998;
    flex-grow: 1;
    flex-shrink: 0;
    width: 130px;
    height: 300px;
    padding: 10px;
}
div.sidebar-header {
    border-radius: 5px 5px 5px 5px;
    background: url(image/img_archive.png) no-repeat left center;
    background-size: contain;
    background-position: center;
    background-color: var(--header-color);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0px;
    width: var(--sidebar-width);
    height: 50px;
}
div.sidebar-main {
    flex-grow: 1;
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}
div.sidebar-footer {
    flex-grow: 1;
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: 50px;
}

div.content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1; */
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

div.winter {
    border-radius: 5px 5px 5px 5px;
    background: url(image/icon_winter.png) no-repeat left center;
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.spring {
    border-radius: 5px 5px 5px 5px;
    background: url(image/icon_spring.png) no-repeat left center;
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.summer {
    border-radius: 5px 5px 5px 5px;
    background: url(image/icon_summer.png) no-repeat left center;
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.autumn {
    border-radius: 5px 5px 5px 5px;
    background: url(image/icon_autumn.png) no-repeat left center;
    background-size: contain;
    background-color: var(--table-caption-color);
    color: white;
    padding-left: 6rem;
}
div.detail-caption {
    text-align: center;
}
/* 表デザイン */
div.table-wrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
table.table {
    table-layout: fixed;
    width: 800px;
    /* border-style: solid; */
    /* border-width: 0.3rem; */
    /* border-color: rgb(0, 0, 0); */
    /* 要素間の幅指定 */
    border-collapse: separate;
    border-spacing: 10px 5px;
}

td.none {
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 5px 5px 5px 5px;
    border-right-style: dashed;
    border-right-width: 0.1rem;
    border-right-color: rgb(0, 0, 0);
    border-bottom-style: dashed;
    border-bottom-width: 0.1rem;
    border-bottom-color: rgb(0, 0, 0);
    width: var(--table-td-size);
}
/* アイコン設定 */
td.new {
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 5px 5px 5px 5px;
    border-right-style: dashed;
    border-right-width: 0.1rem;
    border-right-color: rgb(0, 0, 0);
    border-bottom-style: dashed;
    border-bottom-width: 0.1rem;
    border-bottom-color: rgb(0, 0, 0);
    width: var(--table-td-size);
    background: url(image/icon_new.png) no-repeat left center;
}
td.continuation {
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 5px 5px 5px 5px;
    border-right-style: dashed;
    border-right-width: 0.1rem;
    border-right-color: rgb(0, 0, 0);
    border-bottom-style: dashed;
    border-bottom-width: 0.1rem;
    border-bottom-color: rgb(0, 0, 0);
    width: var(--table-td-size);
    background: url(image/icon_continuation.png) no-repeat left center;
}
td.reair {
    width: var(--table-td-size);
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 5px 5px 5px 5px;
    border-right-style: dashed;
    border-right-width: 0.1rem;
    border-right-color: rgb(0, 0, 0);
    border-bottom-style: dashed;
    border-bottom-width: 0.1rem;
    border-bottom-color: rgb(0, 0, 0);
    background: url(image/icon_reair.png) no-repeat left center;
}

table tr:first-child {
    background-color: var(--table-colum-color);
}
table tr:nth-child(3) {
    background-color: var(--table-colum-color);
}
table tr:nth-child(5) {
    background-color: var(--table-colum-color);
}
table tr:last-child {
    background-color: var(--table-colum-color);
}

th.sun {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(111, 51, 129);
    color: white;
}
th.weekday{
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--header-color);
    color: white;
}
th.sat {
    width: var(--table-th-size);
    position: sticky;
    left: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(111, 51, 129);
    color: white;
}
/* SNS */
.sub-title {
    margin-bottom: 30px;
}

/* フッター */
footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: var(--footer-color);
}
div.footer {
    width: 100%;
    height: 2rem;
    text-align: center;
    padding: 0px 0;
}
div.footer p{
    color: rgb(255, 255, 255);
    /* font-size: 0.875rem; */
}